
@import '../../assets//scss/variable.scss';

.ant-layout {
    height:  100vh;
};

%background-shared {
 background-color: $white-color !important;
  }

.ant-layout-header {
  @extend %background-shared
}

.ant-layout-sider {
  @extend %background-shared
};

.ant-layout-content {
  @extend %background-shared
}


.logo {
    height: 64px;
    width: 100%;
    // background-image: url("/public/logo512.png");
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}

.toggle {
  // display: flex;
  width: 60px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  ;
}